<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/adminPage.css">
</head>

<body>
<header>
    <div class="row">
        <ul class="main-nav">
            <li class="active"><a href="">HOME</a></li>
            <li><a href="/driver/adminPageEmployees">EMPLOYEES PAGE</a></li>
            <li><a href="/route/adminPageRoute">ROUTE PAGE</a></li>
            <li><a href="/bus/adminPageBus">BUS PAGE</a></li>
            <li><a href="/user/adminPageClients">CLIENTS PAGE</a></li>
            <li><a href="/user/login">LOG OUT</a></li>
        </ul>
    </div>

    <div class="hero">
        <h1>HELLO!</h1>
    </div>
</header>

</body>
</html>