<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Client Form</title>
        <link rel="stylesheet" href="/clientPage.css">
    </head>
    
<body>
    <header>
       <div class="row">
        <ul class="main-nav">
            <li class="active"><a href="">HOME</a></li>
            <li><a href="/route/buyTickets">BUY TICKETS</a></li>
            <li><a href="/user/myAccount">MY ACCOUNT</a></li>
            <li><a href="/user/clientPageContact">CONTACT US</a></li>
            <li><a href="/user/login">LOG OUT</a></li>
        </ul> 
       </div>     
        
        <div class="hero">
            <h1>Exploring The World In Comfort.</h1>    
    </div>
    </header>

</body>

</html>