<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Client Form</title>
        <link rel="stylesheet" href="/clientPageContact.css">
    </head>

<body>
    <header>
       <div class="row">
        <ul class="main-nav">
            <li><a href="/user/clientPage">HOME</a></li>
            <li><a href="buyTickets.html">BUY TICKETS</a></li>
            <li><a href="/user/myAccount">MY ACCOUNT</a></li>
            <li class="active"><a href="">CONTACT US</a></li>
            <li><a href="/user/login">LOG OUT</a></li>
        </ul> 
       </div>     
    </header>
    
        <div class="contact-box">
        <h1>Contact Us</h1>
            <div class="contact"><b>Email: </b><i class="fa fa-envelope" aria-hidden="true"></i> busmanagementservice@yahoo.com</div>
            <div class="contact"><b>Phone: </b><i class="fa fa-phone" aria-hidden="true"></i> +4 0765150070</div>
            <div class="contact"><b>Fax: </b><i class="fa fa-fax" aria-hidden="true"></i> +4 0250 861-872</div>
    </div>
</body>

</html>